<launch>
<arg name="agentic_behaviors" default="true" />
<arg name="arbotix" default="true" />

  <!-- New Maki (Maki 2) uses slightly diff motor commands so be sure to set this depending on which Maki is being used
       Main changes can be found in maki_robot_common.py
       NOTE: These values will need to be changed when Maki(s) are serviced
  -->
<param name="is_maki_2" type="bool" value="true"/>

1
 <!-- robot interface -->
<node name="maki_arbotix_interface" pkg="maki_robot" type="MAKI-Arbotix-Interface.py" output="log" if="$(arg arbotix)" />


<!-- behaviors -->
<group if="$(arg agentic_behaviors)" >
  <node name="blinking" pkg="maki_robot" type="blinking.py" output="log" />

  <node name="nodding_up" pkg="maki_robot" type="head_nod_up.py" output="log" />
  <node name="nodding_down" pkg="maki_robot" type="head_nod_down.py" output="log" />
  <node name="nodding_full" pkg="maki_robot" type="head_nod_full.py" output="log" />

  <node name="shaking_right" pkg="maki_robot" type="head_shake_right.py" output="log" />
  <node name="shaking_left" pkg="maki_robot" type="head_shake_left.py" output="log" />
  <node name="shaking_full" pkg="maki_robot" type="head_shake_full.py" output="log" />

  <node name="looking" pkg="maki_robot" type="look_alissa.py" output="log" />

   <node name="attending" pkg="maki_robot" type="selective_attention.py" output="log" />
   <node name="awaking" pkg="maki_robot" type="asleep_awake.py" output="log" />
</group>

<!-- robot interface -->
 <node name="test_cmds" pkg="maki_robot" type="test_some_behaviors.py" output="log" />

</launch>
